<ion-view view-title="Device">

  <ion-content>
    <div class="row bar bar-header bar-positive">
    	<h1 class="title">New Device Detected</h1>
	</div>
	<form style="padding:10%">
		<div class="row">
			<div class="col col-70">
				<h4><b>New Device:</b></h4>
				<p> Nexus 500</p>
				<p>RAC bonus: +1000</p>
			</div>
			<div class="col col-30" style="text-align:center">
				<img src="img/mobile.png" style="width:40%">
			</div>	
		</div>
		<label class="item item-input">
          <input type="text" placeholder="NickName" style="text-align:center">
        </label>
        <h4>Research Projects:</h4>
		<ul class="list">

		  <li class="item item-toggle">
		     Project 1
		     <label class="toggle toggle-balanced">
		       <input type="checkbox">
		       <div class="track">
		         <div class="handle"></div>
		       </div>
		     </label>
		  </li>

		  <li class="item item-toggle">
		     Project 2
		     <label class="toggle toggle-balanced">
		       <input type="checkbox">
		       <div class="track">
		         <div class="handle"></div>
		       </div>
		     </label>
		  </li>

		  <li class="item item-toggle">
		     Project 3
		     <label class="toggle toggle-balanced">
		       <input type="checkbox">
		       <div class="track">
		         <div class="handle"></div>
		       </div>
		     </label>
		  </li>
	  	</ul>

	  	<h4>Performance Settings:</h4>
		<ul class="list">

		  <li class="item item-toggle">
		     Wait Wait for Charge
		     <label class="toggle toggle-balanced">
		       <input type="checkbox">
		       <div class="track">
		         <div class="handle"></div>
		       </div>
		     </label>
		  </li>

		  <li class="item item-toggle">
		     Max CPU Usage
		     <label class="toggle toggle-balanced">
		       <input type="checkbox">
		       <div class="track">
		         <div class="handle"></div>
		       </div>
		     </label>
		  </li>

		  <li class="item item-toggle">
		     Max Battery Temp
		     <label class="toggle toggle-balanced">
		       <input type="checkbox">
		       <div class="track">
		         <div class="handle"></div>
		       </div>
		     </label>
		  </li>

		  	<li class="item item-toggle">
		     Only Run While Charging
		     <label class="toggle toggle-balanced">
		       <input type="checkbox">
		       <div class="track">
		         <div class="handle"></div>
		       </div>
		     </label>
		  </li>
	  	</ul>
	  	<div class="row">
	  		<div class="col col-50">
	  			<button class="button button-full button-assertive">
				  Cancel
				</button>
	  		</div>
	  		<div class="col col-50">
	  			<button class="button button-full button-balanced">
				  Accept
				</button>
	  		</div>
	  	</div>
	</form>
  </ion-content>
</ion-view>
