<ion-view view-title="Friends">
  <ion-content>
    <ion-tabs
          tabs-type="tabs-icon-only"
          tabs-style="tabs-positive">

		<ion-tab title="Overall" >
			<header class="bar bar-header bar-positive">
			  <h1 class="title">Overall</h1>
			</header>
			<ion-content has-header="true">
			  <ul class="list">
			    <li class="item">
			    	<div class="row">
				    	<div class="col col-50">
				      		<h2>User 1</h2>
				      		<p>stats</p>
				      	</div>
				      	<div class="col col-50">
				      		<button class="button button-block button-calm">
				      		Badges
				      		</button>
			      		</div>
		      		</div>
			    </li>
			    <li class="item">
			      <div class="row">
				    	<div class="col col-50">
				      		<h2>User 2</h2>
				      		<p>stats</p>
				      	</div>
				      	<div class="col col-50">
				      		<button class="button button-block button-calm">
				      		Badges
				      		</button>
			      		</div>
		      		</div>
			    </li>
			    <li class="item">
			      <div class="row">
				    	<div class="col col-50">
				      		<h2>User 3</h2>
				      		<p>stats</p>
				      	</div>
				      	<div class="col col-50">
				      		<button class="button button-block button-calm">
				      		Badges
				      		</button>
			      		</div>
		      		</div>
			    </li>
			    <li class="item">
			      <div class="row">
				    	<div class="col col-50">
				      		<h2>User 4</h2>
				      		<p>stats</p>
				      	</div>
				      	<div class="col col-50">
				      		<button class="button button-block button-calm">
				      		Badges
				      		</button>
			      		</div>
		      		</div>
			    </li>
			</ul>
			</ion-content>
		</ion-tab>

		<ion-tab title="Per Project" >
			<header class="bar bar-header bar-positive">
			  <h1 class="title">Per Project</h1>
			</header>
			<ion-content has-header="true">
			  	<h1>Per Project</h1>
			</ion-content>
		</ion-tab>

		<ion-tab title="Devices" >
			<header class="bar bar-header bar-positive">
			  <h1 class="title">Devices</h1>
			</header>
			<ion-content has-header="true">
			  <h1>Devices</h1>
			</ion-content>
		</ion-tab>
      	
      	<ion-tab title="World" >
			<header class="bar bar-header bar-positive">
			  <h1 class="title">World</h1>
			</header>
			<ion-content has-header="true">
			  <h1>World</h1>
			</ion-content>
		</ion-tab>

    </ion-tabs>
  </ion-content>
</ion-view>
