<ion-modal-view>
  <ion-header-bar>
    
    <!--div class="buttons">
      <button class="button button-clear" ng-click="closeIntro()">Close</button>
    </div--> 
  </ion-header-bar>
  <ion-content>

  <ion-slide-box on-slide-changed="slideHasChanged($index)" style="height:90%">
    <ion-slide>
        <img src="img/intro-1.jpg">
    </ion-slide>
    <ion-slide>
      <img src="img/intro-2.jpg">
    </ion-slide>
    <ion-slide>
      <img src="img/intro-1.jpg">
    </ion-slide>
  </ion-slide-box>
  <button class="button button-block button-balanced" ng-click="closeIntro()">GET STARTED</button>
  </ion-content>
</ion-modal-view>
