<ion-view view-title="Profile">
  <ion-content style="padding:10%">
    <ion-list>
    	<h4><b>Profile</b></h4>
      	<p>
      		Badges/achievements <br>
      		progress/xp	bar/RAC
      	</p> <br>
      	<h4><b>Badge progress:</b></h4>
      	<p>Badge 1</p>
      	<progress max="100" value="70"> </progress>

      	<p>Badge 2</p>
      	<progress max="100" value="45"> </progress>

      	<p>Badge 3</p>
      	<progress max="100" value="30"> </progress>

      	<p>Badge 4</p>
      	<progress max="100" value="15"> </progress>
    </ion-list>
  </ion-content>
</ion-view>
